<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC 
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="cn.xujinchun.ofounlocker.pojo.Tofo" alias="tofo" />
	</typeAliases>

	<mappers>
		<mapper resource="cn/xujinchun/ofounlocker/pojo/tofo.xml" />
	</mappers>

</configuration>